<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kimxu.newsandfm">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <application
        android:name=".KBaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        tools:replace="android:icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".aty.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="version"
                android:value="${version}" />
        </activity>
        <activity
            android:name=".aty.WebActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.Translucent" />
        <activity
            android:name=".aty.LocalMusicActivity"
            android:label="本地音乐"
            android:theme="@style/AppTheme.NoActionBar.Translucent" />
        <activity
            android:name=".aty.MusicPlayerActivity"
            android:label="音乐播放"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.Translucent" />

        <service
            android:name=".service.PlayMusicService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".broadcast.NotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="play" /> <!-- 定制play广播 -->
                <action android:name="next" /> <!-- ...... -->
                <action android:name="pause" />
                <action android:name="cancel" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".aty.NetMusicActivity"
            android:label="网络音乐"
            android:theme="@style/AppTheme.NoActionBar.Translucent" />
        <activity
            android:name=".aty.LoginActivity"
            android:label="网络音乐"
            android:theme="@style/AppTheme.NoActionBar.Translucent" />
        <activity
            android:name=".aty.UserManagerActivity"
            android:label="网络音乐"
            android:theme="@style/AppTheme.NoActionBar.Translucent" />
        <activity
            android:name=".aty.RegisterActivity"
            android:label="网络音乐"
            android:theme="@style/AppTheme.NoActionBar.Translucent" />
        <activity
            android:name=".aty.SearchActivity"
            android:label="网络音乐"
            android:theme="@style/AppTheme.NoActionBar.Translucent" />
        <!--<activity android:name=".aty.ReactNativeActivity">-->



        <!--</activity>-->
    </application>

</manifest>
